[#assign repeatCss = ""]

[#if configuration.animationRepeat == "2-times"]
	[#assign repeatCss = "animate__repeat-2"]
[#elseif configuration.animationRepeat == "3-times"]
	[#assign repeatCss = "animate__repeat-3"]
[#elseif configuration.animationRepeat == "infinite"]
	[#assign repeatCss = "animate__infinite"]
[/#if]

<span [#if configuration.headingLevel != "span"]role="heading" aria-level="${configuration.headingLevel}"[/#if] style="[#if configuration.animationDelay]animation-delay: 1s;[/#if] background-attachment: ${configuration.backgroundAttachment}; background-size: ${configuration.backgroundSize}; background-image: url('${configuration.backgroundImage}'); [#if configuration.backgroundImage?has_content]color: transparent;[/#if]" data-animation="${configuration.animationType}" class="animated-text mb-0 text-break ${repeatCss}" data-lfr-editable-id="element-text" data-lfr-editable-type="text">
	Animated Text
</span>